img {
  max-width: 100%;
  height: auto;
}

.opt {
  width: 100%;
  height: auto;
}
/* Place the navbar at the bottom of the page, and make it stick */
.navbar {
  background-color: white;
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
}

/* Style the links inside the navigation bar */
.navbar button {
  float: left;
  width: 10%;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 0 0;
  text-decoration: none;
  font-size: 17px;
  border: 0mm;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

